@using Book.Models;
@using SqliteWasmHelper;

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">@BookName</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="SummaryTypeList">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Summaries
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="TransactionTypeList">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Types
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Database">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Database
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Credits">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Credits
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private BookSetting BookNameSetting { get; set; }
    private string BookName { get; set; }

    [Inject]
    public ISqliteWasmDbContextFactory<BookDbContext> Factory { get; set; }

    protected async override Task OnInitializedAsync()
    {
        using var ctx = await Factory.CreateDbContextAsync();
        BookNameSetting = (await ctx.GetBookSettingById(1));
        BookName = BookNameSetting.SettingValue;
    }

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
