@page "/database"
@using Book.Models;
@implements IAsyncDisposable

<a class="btn btn-primary" href="@BookDownloadUrl" Target="_blank" download="@BookDbFileName">Backup Book Database</a>

<InputFile id="inputFile" OnChange="@UploadDb" accept=".sqlite3" hidden></InputFile>
<label class="btn btn-primary" for="inputFile">Restore Book Database</label>
